.profile-container{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.profile-container:hover,
.profile-container:focus{
    transform: scale(1.02);
}

img{
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--main-color);
}

