.tab-container{
    overflow-x: auto;
    margin: 0 auto;
    width: 100%;
}
.tab + .tab{
    margin-left: 2em;
    text-decoration: none !important;
    color: white;
}

.active-tab{
    color: var(--main-color) !important;

}

@media  (min-width:900px){
    .tab-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}